*{
    padding: 0px;
    margin: 0px;
    align-content: center;
    background-color: black;
}

.title{
    text-align: center;
    padding-top: 20px;
}

.title h1{
    font-size: 10px;
    font-family: monospace;
    color: blanchedalmond;
}

.menu{
    text-align: center;
    padding-top: 40px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline;
}

.menu a:link{
    margin-left: 33px;
    margin-right: 33px;
    /*padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;*/
    text-decoration: none;
    font-family: sans-serif;
    color: blanchedalmond;
    font-weight: bold;
}

.menu a:visited{
    color: blanchedalmond;
}

.menu a:hover{
    color: black;
    background-color: blanchedalmond;
    font-style: italic;
}

.photo{
    text-align: center;
    padding-top: 40px;
}

.photo img{
    width: 600px;
}

.footer{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
}

.esrs{
    display: inline-block;
    vertical-align: bottom;
}

.esrs img{
    width: 50px;
}

.footext{
    display: inline-block;
    color: blanchedalmond;
    font-family: monospace;
    text-align: left;
}

@media only screen and (max-width: 800px){
    
    *{
    }
    
    .body{
        vertical-align: bottom;
    }
    
    .title{
        padding-top: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .title h1{
        font-size: 1.1vw;
    }
    
    .menu{
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li{
        display: block;
        margin-top: 4vh;
    }

    .menu a{
        font-size: 4vw;
        font-style: italic;
        border: solid;
        padding: 1vh;
        width: 100vw;
        
    }
    
    .menu a:link{
        margin-left: 0px;
        margin-right: 0px;
    }

    .menu a:hover{
        color: blanchedalmond;
    }
    
    .photo img{
        display: none;
    }
    
    .footer{
        vertical-align: bottom;
    }
    
    .footext p{
        font-size: 3vw;
    }
    
}